header{
    background-color: #333;
    padding: 10px 0;
    color: white;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}